body {
  background-color: #17171e;
}

#logo_without_title,
#userImage {
  max-height: 50px;
  width: auto;
  height: auto;
}

#btn {
  background-color: #005bf0;
  border: none;
  min-width: 400px;
}

.jira-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-110px);
  height: 28px;
}

#btn:hover {
  background: #1c6bff;
}

.poker-card-question {
  width: 65px;
  height: 75px;

  background: linear-gradient(200deg, #2f63ff, rgb(20, 30, 63));

  border-radius: 5px;
  border: 3px solid rgb(89, 118, 192);

  cursor: pointer;
}

.poker-card {
  min-width: 55px;
  min-height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  font-weight: 600;
  color: #cfd6ff;

  background: linear-gradient(145deg, #2a2f3f, #1c1f2a);
  border-radius: 5px;

  border: 0px;

  position: relative;

  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  box-shadow:
    inset 0 2px 4px rgba(255, 255, 255, 0.08),
    0 6px 12px rgba(0, 0, 0, 0.4);
}

.poker-card .dot {
  position: absolute;
  bottom: 8px;
  right: 8px;

  width: 6px;
  height: 6px;

  background: #4d6edd;
  border-radius: 50%;
}

.poker-card::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  width: 6px;
  height: 6px;

  background: #4d6edd;
  border-radius: 50%;
}

.poker-card:hover::after {
  opacity: 1;
}

.poker-card:hover {
  background: linear-gradient(145deg, #2f63ff, #1f46c7);
  border: 0px;

  transform: translateY(-4px);
  cursor: pointer;

  box-shadow:
    0 0 12px rgb(40, 67, 177),
    0 8px 20px rgba(0, 0, 0, 0.6);
}

.poker-card:hover::before,
.poker-card:hover .dot {
  background: white;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
